@font-face {
	font-family: Six-Cells;
	src: url(../fonts/sixcells.otf);
}
@font-face {
	font-family: Bebas;
	src: url(../fonts/BEBAS.ttf);
}
	body{
		background-image: url(../images/map-bg.png);
	}

	#userPanel {
		position: absolute;
		width: 15%;
		height: auto;
		top: 15%;
		right: 2%;
		background-color: rgba(204, 237, 171,0.8);
	}
	 button, input {
		 width: 80%;
		 margin-bottom: 5%;
		 padding: 10px;
		 margin-left: 10%;
		 background-color: transparent;
		  border: 1px solid green;
	 }

	 button {
		 text-transform: uppercase;
		 cursor: pointer;
		 font-family: Bebas;
 	 -webkit-transition: .3s ease-in-out;
 		transition: .3s ease-in-out;
	 }
	 button:hover {
		 margin-left: 0;
		 background-color: rgb(204, 224, 184);
	 }
	.drone {
		cursor: pointer;
		color: #212e1f;
		position: absolute;
		top: 0;
		left: 0;
	}
	.selectedDrone i {
		color: green;
	}
	.accident {
		cursor: pointer;
		position:absolute;
		color:#FF0033;
	}

	.selectedAccident i {
		color: green;
	}
	#statistics {
		margin-left:10%;
	}
	.fa-ban {
		margin-left:40%;
	}
	.select-accident-alert , .select-drone-alert {
		visibility: hidden;
	}
	h1 {
		margin-left: 10%;
		font-family: Six-Cells;
	}
h3,span{
	font-family: Six-Cells;
}
